<div class="white">

	<div class="col-xs-12">
		<div class="text-center col-xs-push-3 col-xs-6 col-sm-push-4 col-sm-4 col-md-push-5 col-md-2">
			<h2>HOME PAGE</h2>
		</div>
	</div>

	<div class="container">
		<div class="col-md-push-3 col-md-6">


			<div class="text-right">
			    <md-button class="md-fab md-primary" aria-label="generic_button" ng-click="changeView('init');">
			    	<span class="glyphicon glyphicon-chevron-right"></span>
				</md-button>
			</div>
		

		</div>
	</div>

</div>





